body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.nav-colour{    
    background-color: #545677;
}

.logo-font{
    font-family: Pacifico;
}

.title-font{
    font-family: Roboto;
}


.body-colour{
    color: #3E796A;
    background-color: #E9D2F4;
}

.upload-style {
    margin-left: 3.7rem;
}

.btn-colour{
    background-color: #3E796A;
}

.here:hover {
    color: #AFCBFF;
}

.side-list{
    color: #3E796A;
    line-height: 48px;
    font-family: Noto Sans JP;
    font-size: 16px;
}

.side-list:hover{
    background-color: #E7CEF3;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.intro-text{
    color: #3E796A;
    font-family: Noto Sans JP;
    font-size: 16px;
}

.divider-colour{
    background-color: #545677;
}