.nav-colour{    

    background-color: #545677;
}

.logo-font{
    font-family: Pacifico;
}

.body-colour{
    color: #3E796A;
    background-color: #E9D2F4;
}

.upload-style {
    margin-left: 3.7rem;
}

.btn-colour{
    background-color: #3E796A;
}