{% extends 'base.html' %}
{% block content %}
<div class="row teal darken-3">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="{{ url_for('profile', user=session.user) }}">My Recipes</a></li>
            <li class="tab"><a href="{{ url_for('browse') }}">Browse All</a></li>
            <li class="tab"><a href="{{ url_for('search') }}">Search</a></li>
        </ul>
    </div>
</div>

<div id="delete_user_modal" class="modal">
    <div class="modal-content">
        <h4>Delete user?</h4>
        <p>If you delete the user you will not be able to post anymore and all your recipes will be lost FOREVER!</p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('delete_user', user_id=user._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete user</a>
    </div>
</div>

<section>
    <div class="absolute container">
        <h2 class="title-font">Add Recipe</h2>
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">face</i>
                    <select id="recipe_type" name="recipe_type" class="validate">
                        <option value="" disabled>Choose your option</option>
                        {% for type in recipe_types %}
                            <option value="{{ type.type_name }}">{{ type.type_name|title }}</option>
                        {% endfor %}
                    </select>
                    <label for="recipe_type">Recipe Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">face</i>
                    <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="40" 
                    class="validate" required/>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <textarea id="description" name="description" minlength="5" maxlength="200" 
                    class="materialize-textarea validate" required></textarea>
                    <label for="description">A short description of your recipe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">camera_alt</i>
                    <input id="recipe_image" name="recipe_image" type="text" class="validate"/>
                    <label for="recipe_image">Picture</label>
                </div>
            </div>
            <div class="col s12">
                <p class="upload-style">
                    Upload your image <a class="body-colour here" href="https://postimages.org/" target="_blank">here</a>. Please use the 320x240 size with no expiration. Once uploaded copy and paste the direct link with a .jpg file
                    extension into the above field.
                </p>
            </div>
            <div class="row">
                <div class="input-field col s12 ingredient_fields_wrapper">
                    <i class="material-icons prefix">edit</i>
                    <input id="ingredients" type="text" name="ingredients" maxlength="30" class="validate" required>
                    <label for="ingredients">Ingredients</label>
                </div>
                <button class="add_ingredient_button">Add Ingredient</button>
            </div>
            <div class="row">
                <div class="input-field col s12 method_fields_wrapper">
                    <i class="material-icons prefix">edit</i>
                    <input id="method" type="text" name="method" maxlength="30" class="validate" required>
                    <label for="method">Method</label>
                </div>
                <button class="add_method_step_button">Add Step</button>
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light btn-colour" type="submit" name="action">
                        Add Recipe
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}