<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@500&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
        <title>Le Munch - Recipe Ideas!</title>
    </head>
    <body class="body-colour">
    <header>
        <nav>
            <div class="nav-wrapper nav-colour">
                <a href="{{ url_for('index', user=session.user) }}" class="brand-logo right logo-font">Le Munch</a>
                <a href="{{ url_for('index', user=session.user) }}" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a href="{{ url_for('index', user=session.user) }}"><i class="material-icons prefix">home</i></a>
                    </li>
                    {% if not session.user %}
                        <li>
                            <a href="{{ url_for('signin') }}">Sign In</a>
                        </li>
                        <li>
                            <a href="{{ url_for('add_user') }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a class="side-list" href="{{ url_for('index', user=session.user) }}">Home</a></li>
                    {% if not session.user %}
                        <li>
                            <a href="{{ url_for('signin') }}">Sign In</a>
                        </li>
                        <li>
                            <a href="{{ url_for('add_user') }}">Register</a>
                        </li>
                    {% endif %}
                    {% if session.user %}
                        <li>
                            <a class="side-list" href="{{ url_for('change_password', user_id=user._id) }}">Change User Password</a>
                        </li>
                        <li>
                            <a class="side-list" href="{{ url_for('edit_user', user_id=user._id) }}">Edit User Data</a>
                        </li>
                        <li>
                            <a class="modal-trigger side-list" href="#logout_modal">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
        <main>
            <div id="logout_modal" class="modal">
                <div class="modal-content">
                    <h4>Logout?</h4>
                    <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                    <a href="{{ url_for('logout') }}" class="modal-close waves-effect waves-green btn-flat">Logout</a>
                </div>
            </div>
                {% if session.user %}
                    <div class="row">
                        <div class="col s2 hide-on-med-and-down absolute">
                            <ul class="nav-column">
                                <li>
                                    <i class="material-icons">person</i>
                                    <a class="side-list" href="{{ url_for('change_password', user_id=user._id) }}">Change User Password</a>
                                </li>
                                <li class="side-list">
                                    <i class="material-icons">settings</i>
                                    <a class="side-list" href="{{ url_for('edit_user', user_id=user._id) }}">Edit User Data</a>
                                </li>
                                <li class="side-list">
                                    <i class="material-icons">exit_to_app</i>
                                    <a class="modal-trigger side-list" href="#logout_modal">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-content teal darken-3 s12 offset-l2 col l10">
                            <ul class="tabs tabs-transparent">
                                <li class="tab"><a {% if profile %} class="active" {% endif %} href="{{ url_for('profile', user=session.user) }}">My Recipes</a></li>
                                <li class="tab"><a {% if browse %} class="active" {% endif %} href="{{ url_for('browse_date') }}">Browse All</a></li>
                                <li class="tab"><a {% if search_page %} class="active" {% endif %} href="{{ url_for('search') }}">Search</a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            <section>
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                    <div class="container center-align">
                        <h4>{{ message }}</h4>
                    </div>
                {% endfor %} {% endif %} {% endwith %}
            </section>
            <div class="row">
                <div class="col s12 offset-l1 col l10">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <footer class="page-footer nav-colour">
            <div class="footer-copyright">
                <div class="container">
                    © 2020 Copyright Mark Johnston
                    <a class="grey-text text-lighten-4 right" href="{{ url_for('contact', user=session.user) }}">Contact us!</a>
                </div>
            </div>
        </footer>
    </body>
</html>