{% extends 'base.html' %}

{% block content %}
    <!-- Change password form with HTML validation -->
    <section>
        <div class="container">
            <div class="row">
                <h3 class="title-font">Change {{ user.username|title }}'s password</h3>
            </div>
            <form class="col s12" method="POST" action="{{ url_for('change_password', user_id=user._id) }}">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">settings</i>
                        <input id="password" name="password" type="password" class="validate" />
                        <label for="password">Old Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">settings</i>
                        <input id="new_password" name="new_password" type="password" class="validate" />
                        <label for="new_password">New Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">settings</i>
                        <input id="new_password1" name="new_password1" type="password" class="validate" />
                        <label for="new_password1">Confirm New Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <a href="{{ url_for('index', user=session.user) }}" class="btn waves-effect waves-light light-blue darken-2">Cancel<i class="material-icons right">cancel</i></a>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn waves-effect waves-light btn-colour" type="submit" name="action">
                            Edit User
                            <i class="material-icons right">edit</i>
                        </button>                    
                    </div>
            </form>
        </div>
    </section>
{% endblock %}
