{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        <h1 class="title-font">Contact us!</h1>
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('contact') }}">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">face</i>
                        <input id="name" name="name" type="text" class="validate" required/>
                        <label for="name">Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="email" type="email" class="validate" required/>
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">note</i>
                        <textarea id="query" name="query" minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
                        <label for="query">What is your query?</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light btn-colour" type="submit">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
