{% extends 'base.html' %}

{% block content %}
    <div class="container center-align">
        <!-- Welcome information section -->
        <section>
            <br />
            <br />
            <div class="row">
                <div class="col s12">
                    <h1 class="title-font">Welcome to Le Munch</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="flow-text">
                        This is you one stop shop for recipes. Add your own recipes to your cookbook and access them via our user friendly app or use our interface to search/browse recipes for ideas for what to cook.
                    </p>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </section>
        <!-- Large icons information section -->
        <section>
            <div class="divider divider-colour"></div>
            <br />
            <br />
            <div class="row">
                <div class="col s12">
                    <h2>
                        What You Can Do
                    </h2>
                </div>
            </div>
            <br />
            <br />            
            <div class="row">
                <div class="col s12 m4">
                    <i class="material-icons large">local_dining</i>
                    <p class="flow-text">Share your food with the world and keep an handy reference for yourself</p>
                </div>
                <div class="col s12 m4">
                    <i class="material-icons large">mood</i>
                    <p class="flow-text">Like your favourite recipes and find our which recipes are most popular</p>
                </div>
                <div class="col s12 m4">
                    <i class="material-icons large">settings</i>
                    <p class="flow-text">Update your recipes over time, browse and search for your favourites</p>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="divider divider-colour"></div>
        </section>
        <!-- Most popular recipes section -->
        <section>
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col s12">
                    <h2>
                        Below you can see examples of the most popular recipes on our site!
                    </h2>
                </div>
            </div>
            {% for recipe in all_recipes %}
            <div class="row">
                <div class="col s12">
                    <h3 class="header">{{ recipe.name|title }}</h3>
                </div>
            </div>
            <div class="card">
                <div class="row center-align">
                    <div class="col s12 m6">
                        <div class="card-image">
                            <img src="{{ recipe.picture }}" alt="{{ recipe.name }} {{ recipe.description }}" title="{{ recipe.name }}" />
                        </div>
                    </div>
                    <div class="col s12 m6 right-align hide-on-small-only">
                        <div class="card-content">
                            <h4>Description</h4>
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="card-content">
                            <h5>This recipe has been liked {{ recipe.likes }} times</h5>
                        </div>
                        <div class="card-content">
                            <h5>Created by: {{ recipe.user|title }}</h5>
                        </div>
                        {% if recipe.user == session.user %}
                        <div class="card-action left-align">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
                        </div>
                        {% endif %}
                        <div class="card-action left-align">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a>
                        </div>
                        {% if recipe.user == session.user %}
                        <div class="card-action left-align">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="hide-on-med-and-up col s12 m6 left-align">
                        <div class="card-content">
                            <h4>Description</h4>
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="card-content">
                            <h5>This recipe has been liked {{ recipe.likes }} times</h5>
                        </div>
                        <div class="card-content">
                            <h5>Created by: {{ recipe.user|title }}</h5>
                        </div>
                        {% if recipe.user == session.user %}
                        <div class="card-action center-align">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
                        </div>
                        {% endif %}
                        <div class="card-action center-align">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a>
                        </div>
                        {% if recipe.user == session.user %}
                        <div class="card-action center-align">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <br />
            <br />
            {% endfor %}
            <a href="{{ url_for('add_user') }}" class="btn-large waves-effect waves-light btn-colour">Register</a>
            <br />
            <br />
            <br />
            <br />
        </section>
    </div>
{% endblock %}
