{% extends 'base.html' %}
{% block content %}
<div class="row teal darken-3">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="#test2">My Recipes</a></li>
            <li class="tab"><a href="#test3">Browse</a></li>
            <li class="tab"><a href="#test4">Search</a></li>
        </ul>
    </div>
</div>
<h2 class="title-font">Welcome to your cookbook, {{ user.username|title }}</h2>
<a href="{{ url_for('add_recipe') }}" class="btn-floating btn-large waves-effect waves-light nav-colour tooltipped" data-position="right" data-tooltip="Add a new recipe!"><i class="material-icons">add</i></a>

{% for recipe in my_recipes %}

<div class="col s11 m7">
    <h4 class="header">{{ recipe.name }}</h4>
    <div class="card horizontal">
        <div class="card-image">
            <img src="{{ recipe.picture }}" />
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>{{ recipe.description }}</p>
            </div>
            <div class="card-action">
                <a href="#">Click here for more information</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}