{% extends 'base.html' %} {% block content %}
<div class="row teal darken-3">
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="active" href="{{ url_for('profile', user=session.user) }}">My Recipes</a></li>
            <li class="tab"><a href="{{ url_for('browse') }}">Browse All</a></li>
            <li class="tab"><a href="{{ url_for('search') }}">Search</a></li>
        </ul>
    </div>
</div>

<div id="delete_user_modal" class="modal">
    <div class="modal-content">
        <h4>Delete user?</h4>
        <p>If you delete the user you will not be able to post anymore and all your recipes will be lost FOREVER!</p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('delete_user', user_id=user._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete user</a>
    </div>
</div>

<h3 class="title-font">Welcome to your cookbook, {{ user.username|title }}</h3>
<a href="{{ url_for('add_recipe') }}" class="btn-floating btn-large nav-colour tooltipped" data-position="right" data-tooltip="Add a new recipe!"><i class="material-icons">add</i></a>

{% if recipe_count == 0 %}

<div class="row">
    <div class="col s11 m11 l8">
        <h5>You currently have no recipes. Please use the add button above to add recipes to your cookbook. Alternatively please browse other users recipes or search for you favourites!</h5>
    </div>
</div>
{% endif %} {% for recipe in my_recipes %}

<div class="row">
    {% if loop.index % 2 != 0 %}

    <div class="col s11">
        <h4 class="header">{{ recipe.name }}</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ recipe.picture }}" alt="{{ recipe.name }} {{ recipe.description }}" title="{{ recipe.name }}" />
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ recipe.description }}</p>
                </div>
                {% if session.user %}
                <div class="card-action">
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
                </div>
                {% endif %}
                <div class="card-action">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a>
                </div>
                {% if session.user %}
                <div class="card-action">
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% else %}

    <div class="col s11 offset-s1 l11">
        <h4 class="header">{{ recipe.name }}</h4>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{ recipe.picture }}" alt="{{ recipe.name }} {{ recipe.description }}"/>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>{{ recipe.description }}</p>
                </div>
                {% if session.user %}
                <div class="card-action">
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
                </div>
                {% endif %}
                <div class="card-action">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a>
                </div>
                {% if session.user %}
                <div class="card-action">
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% endif %}
</div>
{% endfor %} {% endblock %}