{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <p class="flow-text center-align">Use the search form below to look for your favourite recipe{% if all_recipes %} if you still haven't found the recipe you want{% endif %}</p>
            <div class="col s12 card-panel">
                <form action="{{ url_for('search') }}" method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="query" id="query" minlength="3" class="validate" required /><input class="btn-small btn-colour" type="submit" value="Submit" />
                            <label for="query">Search Recipes</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    {% for recipe in all_recipes %}
        <div class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h4 class="header">{{ recipe.name }}</h4>
                </div>
            </div>
            <div class="card">
                <div class="row center-align">
                    <div class="col s12 m6">
                        <div class="card-image">
                            <img src="{{ recipe.picture }}" alt="{{ recipe.name }} {{ recipe.description }}" title="{{ recipe.name }}" />
                        </div>
                    </div>
                    <div class="col s12 m6 right-align hide-on-small-only">
                        <div class="card-content">
                            <h5>Description</h5>
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="card-content">
                            <h6>This recipe has been liked {{ recipe.likes }} times</h6>
                        </div>
                        <div class="card-content">
                            <h6>Created by: {{ recipe.user|title }}</h6>
                        </div>
                        {% if recipe.user == session.user %}
                            <div class="card-action left-align">
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
                            </div>
                        {% endif %}
                        <div class="card-action left-align">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a>
                        </div>
                        {% if recipe.user == session.user %}
                            <div class="card-action left-align">
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="hide-on-med-and-up col s12 m6 left-align">
                        <div class="card-content">
                            <h5>Description</h5>
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="card-content">
                            <h6>This recipe has been liked {{ recipe.likes }} times</h6>
                        </div>
                        <div class="card-content">
                            <h6>Created by: {{ recipe.user|title }}</h6>
                        </div>
                        {% if recipe.user == session.user %}
                            <div class="card-action center-align">
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">Edit Recipe</a>
                            </div>
                        {% endif %}
                        <div class="card-action center-align">
                            <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a>
                        </div>
                        {% if recipe.user == session.user %}
                            <div class="card-action center-align">
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <br />
    <br />
</section>
{% endblock %}
