{% extends 'base.html' %} {% block content %}
<div class="row teal darken-3">
    <div class="nav-wrapper nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="{{ url_for('profile', user=session.user) }}">My Recipes</a></li>
            <li class="tab"><a class="active" href="{{ url_for('browse') }}">Browse All</a></li>
            <li class="tab"><a href="{{ url_for('search') }}">Search</a></li>
        </ul>
    </div>
</div>

<div id="delete_user_modal" class="modal">
    <div class="modal-content">
        <h4>Delete user?</h4>
        <p>If you delete the user you will not be able to post anymore and all your recipes will be lost FOREVER!</p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('delete_user', user_id=user._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete user</a>
    </div>
</div>

<div class="col s11 card-panel">
    <form action="{{ url_for('search') }}" method="POST">
        <div class="row">
            <div class="input-field col s12 m8">
            <input type="text" name="query" id="query" minlength="3" class="validate" required><input type="submit" value="Submit">
            <label for="query">Search Recipes</label>
            </div>
        </div>
    </form>
</div>

 {% endblock %}