{% extends 'base.html' %}
{% block content %}
        <div class="container">
        <h1>Sign Up</h1>
        <section class="row">
            <form class="col s12" method="POST" action="">
                <label for="username">Username</label>
                <input type="text" id="username" />
                <label for="password">password</label>
                <input type="password" id="password" /><input type="submit" value="Submit" />
            </form>
        </section>
        </div>
{% endblock %}