{% extends 'base.html' %}

{% block content %}

<!-- Displays recipe information from database customised to the current user -->

<section>
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h4 class="header">{{ recipe.name|title }}</h4>
            </div>
        </div>
        <div class="card">
            <div class="row center-align">
                    <div class="col s12 m6">
                        <div class="card-image">
                            <img {% if recipe.picture == "" %} src="{{ url_for('static', filename='img/no_image_available.png') }}" {% else %} src="{{ recipe.picture }}" {% endif %} alt="{{ recipe.name }} {{ recipe.description }}" title="{{ recipe.name }}" />
                        </div>
                    </div>
                    <div class="col s12 m6 right-align hide-on-small-only">
                        <div class="card-content">
                            <h5>Description</h5>
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="card-content">
                            <h6>{{ recipe.recipe_type|title }} recipe</h6>
                        </div>
                        <div class="card-content">
                            <h6>This recipe has been liked {{ recipe.likes }} times</h6>
                        </div>
                        {% if user_like %}
                        <div class="card-content">
                            <h6>You like this recipe</h6>
                        </div>
                        {% endif %}
                        <div class="card-content">
                            <h6>Created by: {{ recipe.user|title }}</h6>
                        </div>
                    </div>
                    <div class="hide-on-med-and-up col s12 m6 left-align">
                        <div class="card-content">
                            <h5>Recipe Type</h5>
                            <p>{{ recipe.recipe_type }}</p>
                        </div>
                        <div class="card-content">
                            <h5>Description</h5>
                            <p>{{ recipe.description }}</p>
                        </div>
                        <div class="card-content">
                            <h6>This recipe has been liked {{ recipe.likes }} times</h6>
                        </div>
                        {% if user_like %}
                        <div class="card-content">
                            <h6>You like this recipe</h6>
                        </div>
                        {% endif %}
                        <div class="card-content">
                            <h6>Created by: {{ recipe.user|title }}</h6>
                        </div>
                    </div>
            </div>
            <div class="divider"></div>
            <div class="row center-align">
                <div class="col s12 m6 center-align">
                    <h5>Ingredients</h5>
                    <ul>
                        {% for ingredient in ingredients %}
                        <li>{{ recipe.ingredients[ingredient]|title }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col s12 m6 center-align">
                    <h5>Method</h5>
                    <ul>                        
                        {% for step in method_steps %}
                        <li>{{ recipe.method[step]|title }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if 'user' in session %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light btn-colour">
                <i class="large material-icons">mode_edit</i>
            </a>
            <ul>
                {% if recipe_user == session.user %}
                <li>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-floating waves-effect waves-light btn-colour tooltipped" data-position="left" data-tooltip="Delete this recipe">
                        <i class="material-icons">delete</i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add_recipe') }}" class="btn-floating waves-effect waves-light btn-colour tooltipped" data-position="left" data-tooltip="Add a new recipe"><i class="material-icons">add</i></a>
                </li>
                <li>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-floating waves-effect waves-light btn-colour tooltipped" data-position="left" data-tooltip="Edit this recipe">
                        <i class="material-icons">edit</i>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ url_for('like_recipe', recipe_id=recipe._id) }}" class="btn-floating waves-effect waves-light tooltipped btn-colour {% if user_like %} teal lighten-1 {% endif %}" data-position="left" {% if user_like %}data-tooltip="Unlike this recipe" {% else %}data-tooltip="Like this recipe"{% endif %}>
                        <i class="material-icons">thumb_up</i>
                    </a>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('index', user=session.user) }}" class="btn waves-effect waves-light light-blue darken-2">Back<i class="material-icons right">cancel</i></a>
            </div>
        </div>
        {% else %}
            <div class="center-align">
            <a href="{{ url_for('index') }}" class="btn-large waves-effect waves-light btn-colour">Back</a>
            <a href="{{ url_for('add_user') }}" class="btn-large waves-effect waves-light btn-colour">Register</a>
            </div>
        {% endif %}
    </div>
<br>
<br>
</section>
{% endblock %}